/web-app

# IDE support files
/atlassian-ide-plugin.xml
/.classpath
/.launch
/.project
/.settings

*.log

# plugin release file
/*.zip
plugin.xml

# "temporary" build files
/target
**/target
/out

# other
*.iws
*.iml
*.ipr

**/.project
**/.classpath
